* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-width: 1600px;
    min-height: 100vh;
    background: url('assets/home.png');
    background-position: 50%;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 1600px;
    margin: 20px auto;
    display: flex;
    padding: 20px;
    box-shadow: 0 0 10px rgb(227 211 200 / 20%);
    border-radius: 10px;

}

.wrapper__header {
    width: 50%;
    min-width: 1010px;
    display: flex;
    padding-right: 20px;
}

.wrapper__bottom {
    width: 30%;
    display: flex;
    padding-left: 20px;
}

.ancients {
    min-width: 540px;
    padding-right: 30px;
}

.ancients__item {
    width: 220px;
    height: 290px;
    display: inline-flex;
    margin: 7px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
}

.ancients__item_active {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(227 211 200);
}

.ancients__item:hover {
    transform: scale(1.02);
}

.difficults-and-stages {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-top: 30px;
}

.difficulties {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-right: 30px;
}

.difficulties__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    

}

.difficulties__button {
    width: 200px;
    height: 40px;
    background: linear-gradient(177deg, #e3d3c8, #af987b);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin: 3px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    color: #5d5d4e;
    transition: all 0.5s;
}

.difficulties__button_active {
    transform: scale(1.04);
    color: #ba1c16;
}

.difficulties__button:hover {
    background: linear-gradient(177deg, #af987b, #e3d3c8);
    box-shadow: 0 0 10px rgb(227 211 200);
}


.shake-button {
    width: 200px;
    height: 40px;
    background: linear-gradient(177deg, #e3d3c8, #af987b);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin: 3px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    color: #5d5d4e;
    transition: all 0.5s;
}

.shake-button_active {
    transform: scale(1.04);
    color: #ba1c16;
}

.shake-button_disabled {
    cursor: not-allowed;
    border: 1px solid #999999;
    background: #cccccc;
    color: #a5a5a5;
}


.shake-button:hover {
    background: linear-gradient(177deg, #af987b, #e3d3c8);
    box-shadow: 0 0 10px rgb(227 211 200);
}

.shake-button_disabled:hover {
    cursor: not-allowed;
    border: 1px solid #999999;
    background: #cccccc;
    color: #a5a5a5;
}

.stages {
    width: 236px;
    max-height: 150px;
    padding-top: 15px;
    padding-right: 10px;
    
    padding-left: 10px;
    background: linear-gradient(177deg, #e3d3c8, #af987b);
    /* box-shadow: 0 0 10px rgb(227 211 200); */
    border-radius: 10px;
}

.stages__item {
    color: #5d5d4e;
    padding: 10px;
    
}

.stages__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stages__color-cards {
    display: flex;
}

.color-cards__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 30px;
    margin-right: 4px;
    display: inline-flex;
    border: 2px solid #e1d5c6;
    color: #dfdbd1;
   
}

.color-cards__first {
    background: #375b1b;
}

.color-cards__second {
    background: #a67d00;
}

.color-cards__third {
    background: #4d58a1;
}

.cards-by-stages__stages {
    position: relative;
}

.secondStage {
    margin-left: 25px;
}

.firstStage {
    margin-left: 50px;
}

.cards-by-stages {
    min-width: 270px;
}

.cards-by-stages__item {
    width: 190px;
    height: 250px;
    position: absolute;
    top: 30px;
    display: inline-flex;

    border-radius: 15px;
    
    cursor: pointer;

}

.cards-by-stages__item:first-of-type {
    box-shadow: 0 0 10px rgb(227 211 200 / 20%);
}

.showed-card-container {
    position: relative;
}